---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import BentoGrid from '../components/BentoGrid.astro';
import Chat from '../components/Chat.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <main>
    <Hero />
    <BentoGrid />
  </main>
  
  <Footer />
  <Chat />
</Layout>
